"*":
  "atom-material-ui": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1459343439619
  core:
    disabledPackages: [
      "vim-mode"
      "relative-numbers"
      "language-cmake"
      "you-complete-me"
    ]
    themes: [
      "atom-dark-fusion-syntax"
      "nucleus-dark-ui"
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "easy-motion-redux": {}
  editor: {}
  "exception-reporting": {}
  proton:
    core:
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
        "tools/bookmarks"
        "tools/build"
        "tools/minimap"
        "lang/clojure"
        "lang/latex"
        "lang/markdown"
      ]
  "theme-switch": {}
  "vim-mode": {}
  "vim-mode-plus": {}
  welcome: {}
  "you-complete-me": {}
  zentabs: {}
